OPENAI_API_KEY = "sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GOOGLE_API_KEY = "AQ.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
HUGGINGFACEHUB_API_TOKEN = "hf_wjhjhjkqwhesiuqhwihwiuqhniwu"
LANGSMITH_API_KEY = "lsv2_wqqqewfdweeewqqqqqqqqqqqqqqqqqqqq"
LANGSMITH_ENDPOINT = "https://eu.api.smith.langchain.com"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="langsmith-demo"