OPENAI_API_KEY = "sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GOOGLE_API_KEY = "AQ.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
HUGGINGFACEHUB_API_TOKEN = "hf_wjhjhjkqwhesiuqhwihwiuqhniwu"
LANGSMITH_API_KEY = "lsv2_wqqqewfdweeewqqqqqqqqqqqqqqqqqqqq"
LANGSMITH_ENDPOINT = "https://eu.api.smith.langchain.com"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="langsmith-demo"
FMCP_ACCESS_KEY = "fmcp_EHUXWrssCayEnjLIQ5Ldlddasddadasdsadawj8Y"
REMOTE_MCP_SERVER_URL = "https://expense-tracking-mcp.fastmcp.app/mcp"