langchain
langgraph
pydantic
langchain-core
langchain-community
langchain-classic
langchain-google-genai
langchain-experimental
google-generativeai
python-dotenv
streamlit
numpy
pandas
ipykernel
langgraph-checkpoint-sqlite
ddgs
langchain-mcp-adapters
aiosqlite
aiofiles
fastmcp
langchain-mcp-adapters
pypdf
faiss-cpu
langgraph-checkpoint-postgres
psycopg[binary, pool]